@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,400&family=Titan+One&display=swap');

// general
img {
    max-width: 100%;
}
a {
    text-decoration: none;
}
.container-hf {
    padding: 0 60px;
}

//  header
header{
    width: 100%;
    height: 82px;
    background-color: transparent;
    backdrop-filter: blur(15px);
    color: white;

    img {
        width: 60px;
    }

    li {
        transition: 1s;
        a {
            font-size: 15px;
        }
        &:hover{
            transform: scale(1.2);
        }   
    }
}

// snow flakes
/* ---- reset ---- */ 
body{ margin:0; font: 'Raleway', sans-serif;} 
canvas{ display: block; vertical-align: bottom; } 
/* ---- particles.js container ---- */ 
#particles-js{ position:absolute; width: 100%; height: 100%; background-color: #b61924; background-image: url(""); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; } 
/* ---- stats.js ---- */ 
.count-particles{ background: #000022; position: absolute; top: 48px; left: 0; width: 80px; color: #13E8E9; font-size: .8em; text-align: left; text-indent: 4px; line-height: 14px; padding-bottom: 2px; font-family: Helvetica, Arial, sans-serif; font-weight: bold; } 
.js-count-particles{ font-size: 1.1em; } 
#stats, .count-particles{ -webkit-user-select: none; margin-top: 5px; margin-left: 5px; } 
#stats{ border-radius: 3px 3px 0 0; overflow: hidden; } 
.count-particles{ border-radius: 0 0 3px 3px; }

// sezioni yield content in absolute sopra a snow
.section-main {
    position: absolute;
    background: transparent;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding-top: 100px;
}

// countdown
#timer {  
    width: 100%;
    font-size: 5em;
    font-weight: bold;
    color: white;
    text-shadow: 0 0 20px #f5e370;
    text-align: center;
    
    
    div {
      display: inline-block;
      min-width: 150px;
      font-family: "Titan One", sans-serif; 
      
      span {
        text-transform: uppercase;
        color: #ffffff;
        display: block;
        font-size: 16px;
        font-weight: 200;
        font-family: "Raleway", sans-serif; 
      }
    }
  }
  
  .countdown-xmass{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

// section santa's list
.outer-container-cards{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 60px;
    overflow-x: auto;
    
    .cards-container {
        width: 100%;
        display: flex;
        overflow-x: auto;
    }
}

// single card show
.single-card-text{
    display: flex;
    flex-direction: column;
}

// footer
footer {
    width: 100%;
    height: 80px;
    background-color: transparent;
    backdrop-filter: blur(15px);
    color: white;

    .container-hf {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;

        #logo-footer {
            width: 60px;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        p {
            margin: 0;
        }

        a {
            color: white;
            font-size: 25px;
            transition: 0.8s;

            &:hover{
                color: black;
            }
        }
    } 
}